::ng-deep  .contentTabPanel{
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.titleTracking{
    font-size: medium;
    font-weight: bold;
}

.itinerary{
    width: 100%;
}

.l-container {
    border-top: 1px solid #c2b9b8;
    padding-top: 10px;
    // margin-bottom: 10px;
}

.l-route-line{
    display: flex;
    justify-content: space-between;
    //height: 85px;
    height: 60px;
    margin-top: 35px;
}

// Label
.l-route-line__element_station {
    width: 1px;
}

.l-route-line__element_station:hover
{
    cursor: pointer;
}

.c-station_first .l-station-route__frame {
    margin-left: -40px;
}

.l-station-route__frame
{
    position: absolute;
    margin-top: -8px;
    margin-left: -48px;
    width: 100px;
    text-align: center;
}

.c-station__airport
{
    margin-top: -30px;
    margin-left: 15px;
    color: #3b3433;
    font-family: heading-font-bold,Tahoma,sans-serif;
}

.c-station__detail
{
    margin-top: 45px;
    margin-left: 15px;
    color: #000;
    font-size: 1.6em;
    white-space: nowrap;
}

// Circle
.c-station_first .l-station-bullet {
    margin-left: 0;
}

.c-station-dot-white {
    //color: #003c71;
    background-image: url("~src/assets/img/plane.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.c-station-dot
{
    background-color: #fff;
}

.c-station-dot-blue {
    //color: #003c71;    
    background-color: #025291;
}

.ivu-steps-cicon{
    width: 34px!important;
    height: 34px!important;
    border: 2px solid #025291;
    border-radius: 100%;
}

.l-station-bullet {
    margin-top: -15px;
    // margin-left: -9px;
    position: absolute;
    font-size: 15px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

// Progress
.l-route-line__element_segment {
    width: 100%;
    margin-left: 10px;
}

.c-segment {
    width: 100%;
}

.c-segment__shipment {
    display: flex;
}

.c-segment__shipment__element_pasted {
    flex-direction: row;    
    width: 100%;
    height: 4px;
}

.c-segment_blue{
    background-color: #003c71;
}

.c-segment_red{
    background-color: #DB4400;
}

.c-segment__shipment__element_pasted_dashed {
    flex-direction: row;    
    border-top: 1px dashed #c2b9b8;
    width: 100%;
    height: 4px;
}

.l-segment__shipment__icon {
    flex-direction: row;
    width: 50px;
    margin-top: -7px;
    padding-left: 4px;
}

// Tracking Hellmann
#k .km li{
    display: flex;
}

// #k .km li>* {
//     width: 100%;
// }

#k .km li>* {
    display: flex;
    align-items: center;
    justify-content: center;
}

// DateTime
#k .km .d{
    font-size: 11px;
    width: 70px;
    max-width: 70px;
    flex-basis: 70px;
    text-align: center;
}

#k .km li.currentPoint .d{
    color: #f55f5f;
}

// ScrollBar
#k .km .l {
    margin: 0 25px;
    width: 10px;
    max-width: 10px;
    flex-basis: 10px;
    background: #f3f5fc;
}

#k .km li.currentPoint .l
{
    background: linear-gradient(to top,#f3f5fc,rgba(255,255,255,0));
}

#k .km .l span{
    z-index: 10;
    background: #e7e9ef;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
}

#k .km li.currentPoint .l span{
    // top: 35%;
    background: #f55f5f;
    animation: round 1s linear infinite;
}

#k .km li.currentPoint .l:before {
    // top: 35%;
}

#k .km .l:before {
    background: #f3f5fc;
    content: '';
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: 1;
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
}

#k .km li.currentPoint .l:after {
    top: calc(35% + 7px);
    height: calc(65% - 7px);
}

#k .km li.currentPoint .l:after {
    top: calc(50% + 7px);
    height: calc(50% - 7px);
    background: linear-gradient(to top,#e7e9ef,#f55f5f);
}

#k .km .l:after {
    /* content: ''; */
    position: absolute;
    height: 100%;
    background: #e7e9ef;
    width: 4px;
    left: 3px;
    z-index: 5;
}

// EventTracking
#k .km .r{
    margin: 5px 0;
    font-size: 12px;
    background: #fff;
    color: #000;
    box-shadow: 0 15px 30px rgb(0 0 0 / 5%);
    border-radius: 3px;
    flex: 1;
    justify-content: flex-start;
}

#k .km .r>div {
    padding: 10px 17px 10px;
}

#k .km .r>* {
    flex: 1;
}

// Tooltip
.tblDetailToolTip td {
    text-align: left;
}

@keyframes round {
    0% {
        box-shadow: 0 0 0 0 rgb(255 45 45 / 30%);
    }

    100% {
        box-shadow: 0 0 0 15px rgb(255 45 45 / 0%);
    }
}