<app-load-indicator [isLoadIndicatorVisible]="modalEventService.loading"></app-load-indicator>

<dx-popup 
    id = "popupTracking"       
    [showTitle]="true"
    
    title="Seguimiento"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [showCloseButton]="true"
    container=".dx-viewport"        
    position="center"
    (onHiding)="popup_hiding($event)"
    [(visible)]="modalEventService.popupEventVisible">

    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
    >
        <div *dxTemplate>
            <dx-button icon="fas fa-search-plus" text="Ver Más" (onClick)="showDetail(modalEventService.shipmentDocumentId, modalEventService.entity, modalEventService.system, modalEventService.table)">
            </dx-button>
        </div>
    </dxi-toolbar-item>

    <div *dxTemplate="let data of 'content'">

        <p class="text-center titleTracking">
            {{ modalEventService.origin }} <span class="fas"  [ngClass]="{'fa-ship': modalEventService.way == 'MARITIMA', 'fa-plane': modalEventService.way == 'AEREA'}" ></span> {{ modalEventService.destination }}
        </p>
                       
        <app-timeline [trackingModalTL]="modalEventService.trackingModal" [trackingModalSelectTL]="modalEventService.trackingModalSelect" [way]="modalEventService.way"></app-timeline>            

        <dx-tab-panel
            [loop]="true"
            [animationEnabled]="true"
            [selectedIndex]="0"
            [swipeEnabled]="true">

            <dxo-tab-panel-options [height]="" [deferRendering]="false">
            </dxo-tab-panel-options>

            <dxi-item title="Tracking Transportista" class="contentTabPanel">
                <app-grig-win [trackingWinTW]="modalEventService.trackingWin" [airSeaPortLabelTW]="modalEventService.airSeaPortLabel" [transportSeaPortLabelTW]="modalEventService.transportSeaPortLabel"></app-grig-win>
            </dxi-item>

            <dxi-item title="Tracking Hellmann" class="contentTabPanel">
                
                <dx-tab-panel
                [loop]="true"
                [animationEnabled]="true"
                [swipeEnabled]="true">

                    <dxo-tab-panel-options [height]="" [deferRendering]="false">
                    </dxo-tab-panel-options>

                    <dxi-item title="Linea de Tiempo" class="contentTabPanel" icon="sortup" badge="Orden &uarr;">    
                        <div id="scrollview-demo" style="height: 35vh;">
                            <dx-scroll-view width="100%" height="100%">
                                <div id="k">
                                    <div class="km">
                                        <ul>
                                            <li *ngFor="let item of modalEventService.tracking" class="tip" [ngClass]="{'currentPoint': (modalEventService.trackingSelect.INT_IDEVENTTRACKING==item.INT_IDEVENTTRACKING)}">
                                                <div class="d load">
                                                    {{ item.DAT_ACTUALDATE | date: 'dd/MM/yyyy h:mm a' }}
                                                </div>
                                                <div class="l">
                                                    <span></span>
                                                </div>
                                                <div class="r load">
                                                    <div>
                                                        {{ item.VCH_NAMEDATE }}
                                                    </div>                            
                                                </div>                 
                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                            </dx-scroll-view>
                        </div>
                    </dxi-item>

                    <dxi-item title="Tabla" class="contentTabPanel" icon="sortup" badge="Orden &uarr;">   
                                                                                
                        <dx-data-grid id="gridTrackingHellmannTable" class="dx-card wide-card"
                            [dataSource]="modalEventService.tracking"
                            [showBorders]="true"
                            [showRowLines]="true"
                            [focusedRowEnabled]="false"
                            [rowAlternationEnabled]="false"  
                            [allowColumnResizing]="false"
                            [columnAutoWidth]="false"
                            [allowColumnReordering]="true"
                            [height]="300"
                            (onRowPrepared) = "preparedColorRow($event)"
                            (onExporting)="exportTrackingHellmann($event)"
                            keyExpr="INT_IDEVENTTRACKING">

                            <dxo-export [enabled]="true"></dxo-export>
                            <dxo-scrolling mode="infinite"></dxo-scrolling>

                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-search-panel
                            [visible]="false"
                            [highlightCaseSensitive]="true"
                            ></dxo-search-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-selection mode="single"></dxo-selection>                                                    
                            
                            <dxi-column
                                dataField="VCH_ENGLISHDESCRIPTION"
                                caption="Milestone"> 
                            </dxi-column>
                            
                            <dxi-column
                                dataField="VCH_NAMEDATE"
                                caption="Descripción"> 
                            </dxi-column>

                            <dxi-column
                                dataField="DAT_ACTUALDATE"
                                caption="F. Real"
                                alignment="center"
                                [width]="100"      
                                format="dd/MM/yyyy"
                                dataType="date">
                            </dxi-column>                             

                        </dx-data-grid>
                    
                    </dxi-item>

                </dx-tab-panel>
                
            </dxi-item>

        </dx-tab-panel>

            
    </div>
</dx-popup>