<app-load-indicator [isLoadIndicatorVisible]="modalEventService.loading"></app-load-indicator>

<dx-popup 
    id = "popupTracking"       
    [showTitle]="true"
    
    title="Seguimiento"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [showCloseButton]="true"
    container=".dx-viewport"        
    position="center"
    (onHiding)="popup_hiding($event)"
    [(visible)]="modalEventService.popupEventVisible">

    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
    >
        <div *dxTemplate>
            <dx-button icon="fas fa-search-plus" text="Ver Más" (onClick)="showDetail(modalEventService.shipmentDocumentId, modalEventService.entity, modalEventService.system, modalEventService.table)">
            </dx-button>
        </div>
    </dxi-toolbar-item>

    <div *dxTemplate="let data of 'content'">

        <p class="text-center titleTracking">
            {{ modalEventService.origin }} <span class="fas"  [ngClass]="{'fa-ship': modalEventService.way == 'MARITIMA', 'fa-plane': modalEventService.way == 'AEREA'}" ></span> {{ modalEventService.destination }}
        </p>

        <div class="l-container">
            <div class="l-route-line">
                <div class="itinerary">

                </div>
                <div class="itinerary" *ngFor="let item of modalEventService.trackingModal; let i = index">                    
                    <!-- Points -->
                    <div class="l-route-line_element l-route-line__element_station ng-star-inserted">
                        <div class="c-station c-station_first ng-star-inserted">
                            <div>
                                <!-- Label -->
                                <div class="l-station-route">
                                    <div class="l-station-route__frame">
                                        <div class="c-station__airport" placement="top">
                                            {{item.VCH_CODE}}
                                        </div>
                                        <div class="c-station__detail" *ngIf="item.CHR_STATE=='C'">
                                            <div class="fas" [class]="item.VCH_ICON">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Circle -->
                                <div attr.id="product{{i}}" class="fas ivu-steps-cicon l-station-bullet c-station-dot ng-star-inserted" [class]="item.VCH_ICON" *ngIf="item.VCH_CODE!='INICIO' && item.VCH_CODE!='ENTREGADO'" >
                                    
                                </div>
                                <div attr.id="product{{i}}" class="ivu-steps-cicon l-station-bullet c-station-dot-blue ng-star-inserted" *ngIf="item.VCH_CODE=='INICIO' || item.VCH_CODE=='ENTREGADO'" >
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ToolTip -->
                    <dx-tooltip
                        target="{{ '#product' + i }}"
                        position="top"
                        showEvent="dxhoverstart"
                        hideEvent="dxhoverend"                        
                        [closeOnOutsideClick]="false"
                        contentTemplate="tooltipContent">
                        <dxo-animation>
                            <dxo-show
                            type="slide"
                            [from]="{ top: -100, opacity: 0 }"
                            [to]="{ opacity: 1, top: 0 }"
                            ></dxo-show>
                            <dxo-hide
                            type="pop"
                            [from]="{ scale: 1, opacity: 1 }"
                            [to]="{ opacity: 0, scale: 0.1 }"
                            ></dxo-hide>
                        </dxo-animation>
                        <div *dxTemplate="let data of 'tooltipContent'"> 
                            <table class="tblDetailToolTip">
                                <tr *ngIf="item.VCH_CODE == 'INICIO' || item.VCH_CODE == 'ENTREGADO'">
                                    <td><strong>Evento</strong></td>
                                    <td>{{item.VCH_NAMEDATE}}</td>
                                </tr>
                                <tr *ngIf="item.DAT_ACTUALARRIVALDATE || item.DAT_ESTIMATEARRIVALDATE">
                                    <td>
                                        <strong *ngIf="item.VCH_CODE != 'INICIO' && item.VCH_CODE != 'ENTREGADO'">Arrival Confirmation</strong>
                                        <strong *ngIf="item.VCH_CODE == 'INICIO' || item.VCH_CODE == 'ENTREGADO'">Fecha</strong>
                                        <strong *ngIf="!item.DAT_ACTUALARRIVALDATE">(Estimado)</strong>
                                    </td>

                                    <td *ngIf="modalEventService.way == 'MARITIMA'">{{(item.DAT_ACTUALARRIVALDATE || item.DAT_ESTIMATEARRIVALDATE) | date: 'dd/MM/yyyy'}}</td>
                                    <td *ngIf="modalEventService.way == 'AEREA'">{{(item.DAT_ACTUALARRIVALDATE || item.DAT_ESTIMATEARRIVALDATE) | date: 'dd/MM/yyyy h:mm a'}}</td>
                                </tr>
                                <tr *ngIf="item.DAT_ACTUALDEPARTUREDATE || item.DAT_ESTIMATEDEPARTUREDATE">
                                    <td>
                                        <strong *ngIf="item.VCH_CODE != 'INICIO' && item.VCH_CODE != 'ENTREGADO'">Departure Confirmation</strong>
                                        <strong *ngIf="item.VCH_CODE == 'INICIO' || item.VCH_CODE == 'ENTREGADO'">Fecha</strong>
                                        <strong *ngIf="!item.DAT_ACTUALDEPARTUREDATE">(Estimado)</strong>
                                    </td>
                                    <td *ngIf="modalEventService.way == 'MARITIMA'">{{(item.DAT_ACTUALDEPARTUREDATE || item.DAT_ESTIMATEDEPARTUREDATE) | date: 'dd/MM/yyyy'}}</td>
                                    <td *ngIf="modalEventService.way == 'AEREA'">{{(item.DAT_ACTUALDEPARTUREDATE || item.DAT_ESTIMATEDEPARTUREDATE) | date: 'dd/MM/yyyy h:mm a'}}</td>
                                </tr>   
                                <tr *ngIf="!item.DAT_ACTUALARRIVALDATE && !item.DAT_ESTIMATEARRIVALDATE">
                                    <td>
                                        <strong *ngIf="item.VCH_CODE == 'ENTREGADO'">Fecha</strong>
                                    </td>                                    
                                </tr>  
                                <tr *ngIf="!item.DAT_ACTUALDEPARTUREDATE && !item.DAT_ESTIMATEDEPARTUREDATE">
                                    <td>
                                        <strong *ngIf="item.VCH_CODE == 'INICIO'">Fecha</strong>
                                    </td>                                    
                                </tr>                           
                            </table>
                        </div>
                    </dx-tooltip>

                    <!-- Progress -->
                    <div class="l-route-line_element l-route-line__element_segment ng-star-inserted" *ngIf="item.VCH_CODE!='ENTREGADO' && ((modalEventService.trackingModalSelect && item.INT_ITEM<=modalEventService.trackingModalSelect.INT_ITEM && item.CHR_STATE!='C'))">
                        <div class="c-segment ng-star-inserted">
                            <div class="c-segment__shipment">
                                <div class="c-segment__shipment__element_pasted" [class]="item.VCH_LINECOLOR">

                                </div>
                                <div class="l-segment__shipment__icon" *ngIf="item.CHR_STATE=='T'">
                                    <div class="fas" [class]="item.VCH_ICON">

                                    </div>
                                </div>
                                <div class="c-segment__shipment__element_pasted" [class]="item.VCH_LINECOLOR">

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Progress Null -->
                    <div class="l-route-line_element l-route-line__element_segment ng-star-inserted" *ngIf="item.VCH_CODE!='ENTREGADO' && !modalEventService.trackingModalSelect">
                        <div class="c-segment ng-star-inserted">
                            <div class="c-segment__shipment">
                                <div class="c-segment__shipment__element_pasted_dashed">

                                </div>                               
                            </div>
                        </div>
                    </div>

                    <!-- Progress Incomplete -->
                    <div class="l-route-line_element l-route-line__element_segment ng-star-inserted" *ngIf="item.VCH_CODE!='ENTREGADO' && ((modalEventService.trackingModalSelect && item.INT_ITEM>modalEventService.trackingModalSelect.INT_ITEM && item.CHR_STATE!='C'))">
                        <div class="c-segment ng-star-inserted">
                            <div class="c-segment__shipment">
                                <div class="c-segment__shipment__element_pasted_dashed">

                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itinerary">

                </div>
            </div>
        </div>

        
            

            <dx-tab-panel
                [loop]="true"
                [animationEnabled]="true"
                [selectedIndex]="0"
                [swipeEnabled]="true">

                <dxo-tab-panel-options [height]="" [deferRendering]="false">
                </dxo-tab-panel-options>

                <dxi-item title="Tracking Transportista" class="contentTabPanel">
                    <dx-data-grid id="gridTrackingWin" class="dx-card wide-card"
                        [dataSource]="modalEventService.trackingWin"
                        [showBorders]="false"
                        [focusedRowEnabled]="false"
                        [rowAlternationEnabled]="true"  
                        [allowColumnResizing]="true"
                        [columnAutoWidth]="true"
                        [allowColumnReordering]="true"
                        [height]="300"
                        keyExpr="INT_SHIPMENTDOCUMENTEVENTID">

                        <!-- <dxo-paging [pageSize]="10"></dxo-paging> -->
                        <!-- <dxo-pager 
                        [showPageSizeSelector]="true" 
                        [showInfo]="true" 
                        [allowedPageSizes]="[10, 25, 50, 100]"
                        infoText="Página {0} de {1} ({2} items)"></dxo-pager> -->

                        <dxo-scrolling mode="infinite"></dxo-scrolling>

                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-search-panel
                        [visible]="false"
                        [highlightCaseSensitive]="true"
                        ></dxo-search-panel>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-selection mode="single"></dxo-selection>
                        
                        <dxi-column
                            dataField="VCH_AIRSEAPORT"
                            caption="{{modalEventService.airSeaPortLabel}}"
                            [groupIndex]="0">        
                        </dxi-column>

                        <dxi-column
                            dataField="VCH_CARRIERNAME"
                            caption="Transportista"> 
                        </dxi-column>
                        
                        <dxi-column
                            dataField="VCH_INTERNATIONALCODE"
                            caption="Código Internacional Status"> 
                        </dxi-column>
                        
                        <dxi-column
                            dataField="VCH_DESCRIPTIONCODE"
                            caption="Descripción Código Internacional"> 
                        </dxi-column>

                        <dxi-column
                            dataField="VCH_TRANSPORTNUMBER"
                            caption="{{modalEventService.transportSeaPortLabel}}"> 
                        </dxi-column>

                        <dxi-column
                            dataField="DAT_EVENTDATE"
                            caption="F. Evento"
                            alignment="center"      
                            format="dd/MM/yyyy"
                            dataType="date">
                        </dxi-column> 

                        <dxi-column
                            dataField="VCH_EVENTSTATUS"
                            caption="Estado Evento"> 
                        </dxi-column>

                    </dx-data-grid>
                </dxi-item>

                <dxi-item title="Tracking Hellmann" class="contentTabPanel">
                    
                    <dx-tab-panel
                    [loop]="true"
                    [animationEnabled]="true"
                    [swipeEnabled]="true">

                        <dxo-tab-panel-options [height]="" [deferRendering]="false">
                        </dxo-tab-panel-options>

                        <dxi-item title="Linea de Tiempo" class="contentTabPanel" icon="sortup" badge="Orden &uarr;">    
                            <div id="scrollview-demo" style="height: 35vh;">
                                <dx-scroll-view width="100%" height="100%">
                                    <div id="k">
                                        <div class="km">
                                            <ul>
                                                <li *ngFor="let item of modalEventService.tracking" class="tip" [ngClass]="{'currentPoint': (modalEventService.trackingSelect.INT_IDEVENTTRACKING==item.INT_IDEVENTTRACKING)}">
                                                    <div class="d load">
                                                        {{ item.DAT_ACTUALDATE | date: 'dd/MM/yyyy h:mm a' }}
                                                    </div>
                                                    <div class="l">
                                                        <span></span>
                                                    </div>
                                                    <div class="r load">
                                                        <div>
                                                            {{ item.VCH_NAMEDATE }}
                                                        </div>                            
                                                    </div>                 
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </dx-scroll-view>
                            </div>
                        </dxi-item>

                        <dxi-item title="Tabla" class="contentTabPanel" icon="sortup" badge="Orden &uarr;">   
                                                                                 
                            <dx-data-grid id="gridTrackingHellmannTable" class="dx-card wide-card"
                                [dataSource]="modalEventService.tracking"
                                [showBorders]="true"
                                [showRowLines]="true"
                                [focusedRowEnabled]="false"
                                [rowAlternationEnabled]="false"  
                                [allowColumnResizing]="false"
                                [columnAutoWidth]="false"
                                [allowColumnReordering]="true"
                                [height]="300"
                                (onRowPrepared) = "preparedColorRow($event)"
                                (onExporting)="exportTrackingHellmann($event)"
                                keyExpr="INT_IDEVENTTRACKING">

                                <dxo-export [enabled]="true"></dxo-export>
                                <dxo-scrolling mode="infinite"></dxo-scrolling>

                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                <dxo-search-panel
                                [visible]="false"
                                [highlightCaseSensitive]="true"
                                ></dxo-search-panel>
                                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                                <dxo-selection mode="single"></dxo-selection>                                                    
                                
                                <dxi-column
                                    dataField="VCH_ENGLISHDESCRIPTION"
                                    caption="Milestone"> 
                                </dxi-column>
                                
                                <dxi-column
                                    dataField="VCH_NAMEDATE"
                                    caption="Descripción"> 
                                </dxi-column>

                                <dxi-column
                                    dataField="DAT_ACTUALDATE"
                                    caption="F. Real"
                                    alignment="center"
                                    [width]="100"      
                                    format="dd/MM/yyyy"
                                    dataType="date">
                                </dxi-column>                             

                            </dx-data-grid>
                       
                        </dxi-item>

                    </dx-tab-panel>
                    
                </dxi-item>

            </dx-tab-panel>

            
    </div>
</dx-popup>