<app-single-card title="Nueva Contraseña">
    <form class="reset-password-form" (submit)="onSubmit($event)">
        <dx-form [formData]="formData" [disabled]="loading">             

          <dxi-item
            dataField="token"
            [visible]="false"
          >
          </dxi-item>

          <dxi-item dataField="password" editorType="dxTextBox" [isRequired]="true"
            [editorOptions]="{ stylingMode: 'filled', placeholder: 'Contraseña', mode: 'password' }">
            <dxi-validation-rule type="required" message="Contraseña es requerido"></dxi-validation-rule>
            <dxo-label [visible]="false"></dxo-label>
          </dxi-item>

          <dxi-item dataField="confirmPassword" editorType="dxTextBox" [isRequired]="true"
            [editorOptions]="{ stylingMode: 'filled', placeholder: 'Confirmar Contraseña', mode: 'password' }">
            <dxi-validation-rule type="required" message="Confirmar Contraseña es requerido"></dxi-validation-rule>
            <dxi-validation-rule 
              type="compare"
              [comparisonTarget]="passwordComparison"
              message="Contraseña y Confirmar contraseña no coinciden">
            </dxi-validation-rule>
            <dxo-label [visible]="false"></dxo-label>
          </dxi-item>
      
          <dxi-item itemType="button">
            <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'resetPasswordTemplate'"
              [elementAttr]="{ class: 'submit-button' }">
            </dxo-button-options>
          </dxi-item>
          <dxi-item>
            <div class="login-link">
              Regresar para <a routerLink="/login">Iniciar Sesión</a>
            </div>
          </dxi-item>
      
          <ng-container *dxTemplate="let item of 'resetPasswordTemplate'">
            <div>
              <span class="dx-button-text">
                <ng-container *ngIf="loading; else notLoading">
                  <dx-load-indicator width="24px" height="24px" [visible]="true"></dx-load-indicator>
                </ng-container>
                <ng-template #notLoading>Cambiar mi Contraseña</ng-template>
              </span>
            </div>>
          </ng-container>
      
        </dx-form>
      </form>
  </app-single-card>