<dx-popup 
    id = "popupFileUploader"       
    [showTitle]="true"
    title="Documentos"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [showCloseButton]="true"
    container=".dx-viewport"        
    position="center"
    (onHiding)="popup_hiding($event)"
    [(visible)]="modalHelldataService.popupHellDataVisible">

    <dx-data-grid id="gridHellData" class="dx-card wide-card"
      [dataSource]="modalHelldataService.files"
      [showBorders]="false"
      [focusedRowEnabled]="false"
      [rowAlternationEnabled]="true"  
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [allowColumnReordering]="true"
      keyExpr="INT_DOCUMENTARYCONCILIATIONID">
    
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager 
        [showPageSizeSelector]="true" 
        [showInfo]="true" 
        [allowedPageSizes]="[10, 25, 50, 100]"
        infoText="Página {0} de {1} ({2} items)"></dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-search-panel
        [visible]="false"
        [highlightCaseSensitive]="true"
      ></dxo-search-panel>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-selection mode="single"></dxo-selection>
      
      <dxi-column
        dataField="VCH_DOCUMENTNAME"
        caption="Tipo de Documento">        
      </dxi-column>
    
      <dxi-column
        dataField="VCH_FILENAME"
        caption="Nombre Archivo"
        sortOrder="asc"> 
      </dxi-column>                    
          
      <dxi-column type="buttons" caption="Acciones" [width]="110">        
        <dxi-button icon="download" hint="Ver" [onClick]="showFile"></dxi-button>
      </dxi-column>  
    
    </dx-data-grid>
    
</dx-popup>