<app-load-indicator [isLoadIndicatorVisible]="modalTrackingService.loading"></app-load-indicator>

<dx-popup 
    id = "popupTracking"       
    [showTitle]="true"
    title="Seguimiento de Paquete"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [showCloseButton]="true"
    container=".dx-viewport"        
    position="center"
    (onHiding)="popup_hiding($event)"
    [(visible)]="modalTrackingService.popupVisible">

    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
    >
        <div *dxTemplate>
            <dx-button icon="fas fa-search-plus" text="Ver Más" (onClick)="showDetail(modalTrackingService.shipmentDocumentId, modalTrackingService.entity, modalTrackingService.system, modalTrackingService.table)">
            </dx-button>
        </div>
    </dxi-toolbar-item>        

    <dx-scroll-view width="100%" height="100%">

        <p class="text-center titleTracking">
            {{ modalTrackingService.origin }} <span class="fas"  [ngClass]="{'fa-ship': modalTrackingService.way == 'MARITIMA', 'fa-plane': modalTrackingService.way == 'AEREA'}" ></span> {{ modalTrackingService.destination }}
        </p> 

        <div id="k">
            <div class="km">
                <ul>
                    <li *ngFor="let item of modalTrackingService.tracking" class="tip" [ngClass]="{'currentPoint': (modalTrackingService.trackingSelect.INT_IDEVENTTRACKING==item.INT_IDEVENTTRACKING)}">
                        <div class="d load">
                            {{ item.DAT_ACTUALDATE | date: 'dd/MM/yyyy h:mm a' }}
                        </div>
                        <div class="l">
                            <span></span>
                        </div>
                        <div class="r load">
                            <div>
                                {{ item.VCH_NAMEDATE }}
                            </div>                            
                        </div>                 
                    </li>
                </ul>
            </div>
        </div>        
    </dx-scroll-view>

</dx-popup>