.itinerary{
    width: 100%;
}

.l-container {
    border-top: 1px solid #c2b9b8;
    padding-top: 10px;
    // margin-bottom: 10px;
}

.l-route-line{
    display: flex;
    justify-content: space-between;
    //height: 85px;
    height: 60px;
    margin-top: 35px;
}

// Label
.l-route-line__element_station {
    width: 1px;
}

.l-route-line__element_station:hover
{
    cursor: pointer;
}

.c-station_first .l-station-route__frame {
    margin-left: -40px;
}

.l-station-route__frame
{
    position: absolute;
    margin-top: -8px;
    margin-left: -48px;
    width: 100px;
    text-align: center;
}

.c-station__airport
{
    margin-top: -30px;
    margin-left: 15px;
    color: #3b3433;
    font-family: heading-font-bold,Tahoma,sans-serif;
}

.c-station__detail
{
    margin-top: 45px;
    margin-left: 15px;
    color: #000;
    font-size: 1.6em;
    white-space: nowrap;
}

// Circle
.c-station_first .l-station-bullet {
    margin-left: 0;
}

// Obsolete
.c-station-dot-white {
    //color: #003c71;
    background-image: url("~src/assets/img/plane.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.c-station-dot
{
    background-color: #fff;
}

.c-station-dot-blue {
    //color: #003c71;    
    background-color: #025291;
}

.ivu-steps-cicon{
    width: 34px!important;
    height: 34px!important;
    border: 2px solid #025291;
    border-radius: 100%;
}

.l-station-bullet {
    margin-top: -15px;
    // margin-left: -9px;
    position: absolute;
    font-size: 15px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

// Progress
.l-route-line__element_segment {
    width: 100%;
    margin-left: 10px;
}

.c-segment {
    width: 100%;
}

.c-segment__shipment {
    display: flex;
}

.c-segment__shipment__element_pasted {
    flex-direction: row;    
    width: 100%;
    height: 4px;
}

.c-segment_blue{
    background-color: #003c71;
}

.c-segment_red{
    background-color: #DB4400;
}

.c-segment__shipment__element_pasted_dashed {
    flex-direction: row;    
    border-top: 1px dashed #c2b9b8;
    width: 100%;
    height: 4px;
}

.l-segment__shipment__icon {
    flex-direction: row;
    width: 50px;
    margin-top: -7px;
    padding-left: 4px;
}