<div class="l-container">
    <div class="l-route-line">
        <div class="itinerary">

        </div>
        <div class="itinerary" *ngFor="let item of trackingModal; let i = index">                    
            <!-- Points -->
            <div class="l-route-line__element_station">
                <div class="c-station_first">
                    <div>
                        <!-- Label -->
                        <div class="l-station-route">
                            <div class="l-station-route__frame">
                                <div class="c-station__airport" placement="top">
                                    <label [title]="item.VCH_CODE">
                                        {{ item.VCH_CODE.length > 10 ? (item.VCH_CODE | slice:0:8)+'..':(item.VCH_CODE) }}
                                    </label>                                    
                                </div>
                                <div class="c-station__detail" *ngIf="item.CHR_STATE=='C'">
                                    <div class="fas" [class]="item.VCH_ICON">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Circle -->
                        <div attr.id="product{{i+searchValue}}" class="fas ivu-steps-cicon l-station-bullet c-station-dot" [class]="item.VCH_ICON" *ngIf="item.VCH_CODE!='INICIO' && item.VCH_CODE!='ENTREGADO'" >
                            
                        </div>
                        <div attr.id="product{{i+searchValue}}" class="ivu-steps-cicon l-station-bullet c-station-dot-blue" *ngIf="((item.VCH_CODE=='INICIO' && trackingModalSelect && item.INT_ITEM<=trackingModalSelect.INT_ITEM) || (item.VCH_CODE=='ENTREGADO' && item.CHR_STATE=='C'))" >
                            
                        </div>
                        <div attr.id="product{{i+searchValue}}" class="ivu-steps-cicon l-station-bullet c-station-dot-fff" *ngIf="((item.VCH_CODE=='INICIO' && !trackingModalSelect) || (item.VCH_CODE=='ENTREGADO' && item.CHR_STATE!='C'))" >
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- ToolTip -->
            <dx-tooltip
                target="{{ '#product' + i + searchValue }}"
                position="top"
                showEvent="dxhoverstart"
                hideEvent="dxhoverend"                        
                [closeOnOutsideClick]="false"
                contentTemplate="tooltipContent">
                <dxo-animation>
                    <dxo-show
                    type="slide"
                    [from]="{ top: -100, opacity: 0 }"
                    [to]="{ opacity: 1, top: 0 }"
                    ></dxo-show>
                    <dxo-hide
                    type="pop"
                    [from]="{ scale: 1, opacity: 1 }"
                    [to]="{ opacity: 0, scale: 0.1 }"
                    ></dxo-hide>
                </dxo-animation>
                <div *dxTemplate="let data of 'tooltipContent'"> 
                    <table class="tblDetailToolTip">
                        <tr *ngIf="item.VCH_CODE == 'INICIO' || item.VCH_CODE == 'ENTREGADO'">
                            <td><strong>Evento</strong></td>
                            <td>{{item.VCH_NAMEDATE}}</td>
                        </tr>
                        <tr *ngIf="item.DAT_ACTUALARRIVALDATE || item.DAT_ESTIMATEARRIVALDATE">
                            <td>
                                <strong *ngIf="item.VCH_CODE != 'INICIO' && item.VCH_CODE != 'ENTREGADO'">Arrival Confirmation</strong>
                                <strong *ngIf="item.VCH_CODE == 'INICIO' || item.VCH_CODE == 'ENTREGADO'">Fecha</strong>
                                <strong *ngIf="!item.DAT_ACTUALARRIVALDATE">(Estimado)</strong>
                            </td>

                            <td *ngIf="way == 'MARITIMA'">{{(item.DAT_ACTUALARRIVALDATE || item.DAT_ESTIMATEARRIVALDATE) | date: 'dd/MM/yyyy'}}</td>
                            <td *ngIf="way == 'AEREA'">{{(item.DAT_ACTUALARRIVALDATE || item.DAT_ESTIMATEARRIVALDATE) | date: 'dd/MM/yyyy h:mm a'}}</td>
                        </tr>
                        <tr *ngIf="item.DAT_ACTUALDEPARTUREDATE || item.DAT_ESTIMATEDEPARTUREDATE">
                            <td>
                                <strong *ngIf="item.VCH_CODE != 'INICIO' && item.VCH_CODE != 'ENTREGADO'">Departure Confirmation</strong>
                                <strong *ngIf="item.VCH_CODE == 'INICIO' || item.VCH_CODE == 'ENTREGADO'">Fecha</strong>
                                <strong *ngIf="!item.DAT_ACTUALDEPARTUREDATE">(Estimado)</strong>
                            </td>
                            <td *ngIf="way == 'MARITIMA'">{{(item.DAT_ACTUALDEPARTUREDATE || item.DAT_ESTIMATEDEPARTUREDATE) | date: 'dd/MM/yyyy'}}</td>
                            <td *ngIf="way == 'AEREA'">{{(item.DAT_ACTUALDEPARTUREDATE || item.DAT_ESTIMATEDEPARTUREDATE) | date: 'dd/MM/yyyy h:mm a'}}</td>
                        </tr>   
                        <tr *ngIf="!item.DAT_ACTUALARRIVALDATE && !item.DAT_ESTIMATEARRIVALDATE">
                            <td>
                                <strong *ngIf="item.VCH_CODE == 'ENTREGADO'">Fecha</strong>
                            </td>                                    
                        </tr>  
                        <tr *ngIf="!item.DAT_ACTUALDEPARTUREDATE && !item.DAT_ESTIMATEDEPARTUREDATE">
                            <td>
                                <strong *ngIf="item.VCH_CODE == 'INICIO'">Fecha</strong>
                            </td>                                    
                        </tr>                           
                    </table>
                </div>
            </dx-tooltip>

            <!-- Progress -->
            <div class="l-route-line__element_segment" *ngIf="item.VCH_CODE!='ENTREGADO' && ((trackingModalSelect && item.INT_ITEM<=trackingModalSelect.INT_ITEM && item.CHR_STATE!='C'))">
                <div class="c-segment">
                    <div class="c-segment__shipment">
                        <div class="c-segment__shipment__element_pasted" [class]="item.VCH_LINECOLOR">

                        </div>
                        <div class="l-segment__shipment__icon" *ngIf="item.CHR_STATE=='T'">
                            <div class="fas" [class]="item.VCH_ICON">

                            </div>
                        </div>
                        <div class="c-segment__shipment__element_pasted" [class]="item.VCH_LINECOLOR">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Progress Null -->
            <div class="l-route-line__element_segment" *ngIf="item.VCH_CODE!='ENTREGADO' && !trackingModalSelect">
                <div class="c-segment">
                    <div class="c-segment__shipment">
                        <div class="c-segment__shipment__element_pasted_dashed">

                        </div>                               
                    </div>
                </div>
            </div>

            <!-- Progress Incomplete -->
            <div class="l-route-line__element_segment" *ngIf="item.VCH_CODE!='ENTREGADO' && ((trackingModalSelect && item.INT_ITEM>trackingModalSelect.INT_ITEM && item.CHR_STATE!='C'))">
                <div class="c-segment">
                    <div class="c-segment__shipment">
                        <div class="c-segment__shipment__element_pasted_dashed">

                        </div>                               
                    </div>
                </div>
            </div>
        </div>
        <div class="itinerary">

        </div>
    </div>
</div>